@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    @include flexCenter;
    background-color: rgb(104, 104, 104);
    position: relative;

    .header {
        @include flexCenter;
        flex-direction: row;
        border: 1px solid red;
        gap: 10vh;
        padding: 24px;
        color: white;

        .timer {
            @include flexCenter;
            flex-direction: row;
            gap: 10px;

            div {
                @include flexCenter;
                border: 1px solid rgb(0, 60, 255);
                flex-direction: row;
                gap: 10px;
            }
        }
    }

    .main {
        @include flexCenter();
        .cadastro{
            @include flexCenter;
            padding: 24px;
            margin-top: 100px;
            gap: 10px;
            background-color: aliceblue;
            border-radius: 6vh;
            width: 654px;

            form {
                @include flexCenter;
                gap: 10px;
                max-width: 420px;


                .ipn {
                    border-radius: 25px;
                    background: #ECEDEE;
                    width: 420px;
                    max-width: 420px;
                    min-height: 56px;
                    padding: 0px 25px;
                    border: none;  
                    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.17) inset;  
                }
                .cadastrar {
                    width: 420px;
                    max-width: 420px;
                    min-height: 56px;
                    border-radius: 51px;
                    background: #99C342;
                    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.17) inset;    
                    border: none;               
                }
            }
        }
        .avisos {
            @include flexCenter();
            background-color: #99C342;
            width: 78%;
            margin-top: 0;
        }
    }
}